recursive-include tools/python/kml *.py
recursive-include tools/cython/kml *.pyx *.pxd
recursive-include tools/cpp/KML/src *.cc
recursive-include tools/cpp/KML/include *.h *.tcc
recursive-include tools/python/tests/ *.py
include *.rst
global-exclude *build*
